* {
    letter-spacing: 1px;
}

body {
    background-color: #020111;
    margin: 0;
    height: 100vh;    
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: 'poppins', sans-serif;
    
}

/* MENU NAVEGAÇÃO */

a {
    color: #edc9f8;
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    opacity: 0.7;
}
  
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #300068;
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fcc81f;
  margin: 8px;
  transition: 0.3s;
  
}

/*  MENU  */

.main {
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil__foto {
    height: 60%;
    width: 110%;        
    
}

.perfil__nome {
    color: #e89144;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    font-weight: 400;
    margin: 16px 0;
}

.perfil__descricao {
    color: #8fd9c6;
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0;
        
}

.section {
    padding: 8px;
    width: 100%;
    max-width: 700px;
    margin: 24px auto;
    box-sizing: border-box;
    
}

.section__titulo {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    margin: 16px 0;
}

.img__bio {
    height: 60%;
    width: 100%;
}

.biografia {
    background-color: #faeded;
    padding: 8px;
    margin: 16px 0;
    box-sizing: border-box;
    border-radius: 3px; 
}

.biografia__titulo {
    color: #e22f89;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 8px 0;
}

.biografia__descricao {
    font-size: 20px;
    font-weight: 400;
    color: #1f1347;
    margin: 8px 0;
    box-sizing: border-box;
}

/*  QUIZ */

.descricao_quiz {
    color: #8fd9c6;
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0;
}

.titulo_quiz {
    font-size: 50px;
    font-family: 'poppins', sans-serif;
    color: #e89144;
}
  
.container-quiz {
    background-color: #faeded;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
  
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
  
.spnQtd {
    text-align: end;
}
  
.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CCC;
    color: white;
}
  
.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
.finish button {
    text-align: center;
}

/* GALERIA DE FOTOS - SLIDER */

.container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
  
.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.slider__galeria  {
    font-size: 50px;
    font-family: 'poppins', sans-serif;
    color: #e89144;
}
  
.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}
  
.on {
    opacity: 1;
}
  
#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}
  
#prev-button {
    transform: rotate(180deg);
}

/* VIDEOS */

.video__titulo {
    font-size: 50px;
    font-family: 'poppins', sans-serif;
    color: #e89144;
}

.video__bio {
    width: 100%;    
    height:400px;
    text-align: center;
    border: 6px solid #ff5c8d;
}

/* FOOTER */

:root {
    --color-neutral-0: #020111;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {    
    width: 100%;
    color: var(--color-neutral-40);
    justify-content: center;  
    align-items: center;  
    
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    justify-content: center;
}

#footer_contacts p {
    margin-bottom: 0.75rem;
    justify-content: center;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    justify-content: center;
}

#footer_social_media  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media  .footer-link  i {
    font-size: 1.25rem;
}

#footer_social_media  .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#twitter {
    background-color: #00acee;
}
#github {
    background-color: #000000;
}
#linkedin {
    background-color: #4267b3;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_mensagem {
    color: var(--color-neutral-30);
}

#footer_icon{
    width: 200px;
    height: 205px;    
    border-radius: 9px;
    border: 8px solid #868686;
    display: flex;
    box-sizing: border-box;
   
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/*MEDIA NAV*/

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
}
  
  .nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}  
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*MEDIA FOOTER*/

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}